*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p.big-txt {
  font-size: 3rem;
}

p.title-1 {
  font-size: 1.5rem;
  font-weight: 500;
}

p.txt {
  color: #ffffff;
}

html,
body {
  height: 100vh;
  overflow: hidden;
  font-family: "Syne", sans-serif;
}

div#app {
  height: inherit;
  background: #4a85e9;
  transition: 0.4s;
}
div#app.night {
  background-position-y: bottom;
  background-position-x: right;
  background-size: cover;
}

div.container#home {
  height: inherit;
  position: relative;
  padding: 0 2em;
  transition: 0.4s;
}
div.container#home .weather-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10vh 0 0 0;
  min-height: 10vh;
}
div.container#home .weather-wrap.full {
  height: 100%;
  padding: 0;
}
div.container#home .weather-wrap.full .temperature .col1 .condition {
  transform: translateY(30px);
}
div.container#home .weather-wrap.full .temperature .col1 .big-txt {
  font-size: 12rem;
}

footer.footer {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 30vh;
  transform: translateY(-50px);
  transition: 0.4s;
  border-top-right-radius: 2em;
  border-top-left-radius: 2em;
  height: 100%;
  background: #ffffff;
}
footer.footer .footer__top {
  padding: 1em;
  display: flex;
  justify-content: flex-end;
}
footer.footer .footer__bottom .title-1 {
  margin: 1em 0;
}
footer.footer .footer__bottom-search {
  padding: 1em;
}
footer.footer .footer__bottom-search input {
  width: 100%;
  padding: 1em;
  background: #dadada;
  border-radius: 0.5em;
  border: none;
}
footer.footer .footer__bottom-search input:focus {
  outline: none;
}
footer.footer .footer__bottom-locations .location-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}
footer.footer.close {
  top: 100%;
  bottom: 0px;
}