$bg: rgb(31, 48, 68);
$bg-card: rgb(74, 133, 233);
$white: #ffffff;
$black-gradient: linear-gradient(
  to bottom,
  rgba(0, 0, 0, 0.25),
  rgba(0, 0, 0, 0.75)
);
$white-gradient: linear-gradient(
  to bottom,
  rgba(255, 255, 255, 0.25),
  rgba(255, 255, 255, 0.75)
);
